APScheduler==3.6.3
beautifulsoup4==4.9.2
bs4==0.0.1
certifi==2020.6.20
cffi==1.14.3
chardet==3.0.4
colorama==0.4.3
commonmark==0.9.1
cryptography==3.3.2
decorator==4.4.2
idna==2.10
psutil==5.7.3
pycparser==2.20
Pygments==2.7.4
PyMySQL==0.10.1
pyowm==3.2.0
PyPika==0.42.1
PySocks==1.7.1
python-telegram-bot==13.1
pytz==2020.4
requests==2.24.0
rich==7.1.0
six==1.15.0
soupsieve==2.0.1
telegram==0.0.1
tornado==6.0.4
typing-extensions==3.7.4.3
tzlocal==2.1
urllib3==1.25.10
wikipedia==1.4.0